<div class="col-md-12">
    <div class="card card-container container">
        <h1 style="text-align: center;">Create a sell offer</h1>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="company">Company</label>
                <select class="form-control" name="company" [(ngModel)]="form.company">
                    <option *ngFor="let resource of resourceDisplay" [ngValue]="resource.company">{{ resource.company.name }} - {{resource.rate}}zł ilość {{resource.amount}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="minPrice">Min Price</label>
                <input type="text" class="form-control" name="minPrice" [(ngModel)]="form.minPrice" required
                    #minPrice="ngModel" />
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && minPrice.invalid">
                    Min price is required
                </div>
            </div>

            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" class="form-control" name="amount" [(ngModel)]="form.amount" required
                    #amount="ngModel" />
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && amount.invalid">
                    <div *ngIf="amount.errors.required">Amount is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input matInput [matDatepicker]="picker" placeholder="Pick a date" class="form-control"
                    name="date" [(ngModel)]="form.date" required #amount="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
        
            <div class="form-group">
                <button class="btn btn-primary btn-block">
                    Add an offer
                </button>
            </div>
            <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isAddFailed">
                    Failed: {{errorMessage}}
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <div class="container" *ngIf="sellOffers">
    <div class="jumbotron" *ngFor="let selloffer of sellOffers">
        <p>
            <strong>User: </strong>
            {{ selloffer.stock.user.username }}
        </p>
        <p>
            <strong>Company: </strong>
            {{ selloffer.stock.company.name }}
        </p>
        <p>
            <strong>Start amount:</strong>
            {{ selloffer.startAmount }}
        </p>
        <p>
            <strong>Amount:</strong>
            {{ selloffer.amount }}
        </p>
        <p>
            <strong>Min price:</strong>
            {{ selloffer.minPrice }}
        </p>
        <p>
            <strong>Date limit:</strong>
            {{ selloffer.dateLimit.substring(0,10) }}
        </p>
        <p>
            <strong>Actual:</strong>
            {{ selloffer.actual }}
        </p>
        <button (click)="onDelete(selloffer)" style="width:auto;" class="btn btn-primary btn-block">
            Delete an offer
        </button>
    </div>
    
</div> -->

