.tp-radio-group {
    display: inline-flex;
    flex-direction: column;
 }
 .tp-radio-button {
    margin: 5px;
 }
 .tp-selected-value {
    margin: 15px 0;
 }

 .container{
   width: 70%;
   margin-top: 100px;
   padding: 40px;
   -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
   -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
   box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}